[run]
branch = True
source = .
omit =
    alembic/*
    alembic/**/*
    scripts/*
    tests/*
    tests/**/*
    worker.py
    db_migrate.py
    tasks/reminder_cron.py
    tasks/send_push.py
    */__init__.py
    */conftest.py

[report]
fail_under = 82
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    \.\.\.
    pass

[xml]
output = coverage.xml
